@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Pathway+Extreme:wght@400;700&display=swap");

:root {
  --primary: #730402;
  --secondary: #eaeaea;
  --blackOps: "Black Ops One", cursive;
  --pathwayExtreme: "Pathway Extreme", sans-serif;
}

.main {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.main__header {
  height: 10vh;
}

.main__herosearch {
  height: 60vh;
}
